{%  extends 'base.html' %}
{% load static %}
{% block content %}
<div class="about-section" style="border: black;">
    <h1>About</h1>
    <h2> The Application</h2>
    <p>Welcome to my prototype sports analytics dashboard</p>
    <p>This web application is part of my Msc Computing and IT Management dissertation. Its aim is to show Football statistics in a new way. 
        Rather than presenting the statistics based around your favourite teams and players using traditional raw data format,
        this application makes use of the most cutting edge visualisation and data analysis libraries to make the user experience more interactive
        and engaging. This application is a prototype only and currently only has a few visualisations to showcase. Please Register with us to get the full experience.</p>
    <h2>Aim and Motivation</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, consequuntur? Recusandae explicabo, earum ad, sapiente aperiam quaerat maxime neque quam eius repudiandae itaque reprehenderit corrupti minima hic animi eum officiis.</p>
    <br>
    <h2>The Data</h2>
    <P>The data used in this application were provided by following sources:  </P> 
</div>
  
{% endblock %}